services:
  db:
    image: postgres:16
    container_name: incident_ingest_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: incident_ingest
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
services:
  db:
    image: postgres:16
    container_name: incident_ingest_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: incident_ingest
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
